<div ng-controller="ignitionPlayConfigCtrl as cfgCtrl">

    Configure your experience:

    <div>
        <label> Length (sec):
            <input type="number" ng-model="cfgCtrl.playbackConfig.playbackSnippetLengthSec"/>
        </label>
    </div>

    <div>
        <label> Snippets (n):
            <input type="number" ng-model="cfgCtrl.playbackConfig.playbackOneRecSnippetsNum"/>
        </label>
    </div>

    <div>
        <label> Volume (%):
            <input type="number" ng-model="cfgCtrl.playbackConfig.playbackVolumePercent"/>
        </label>

        <button ng-click="cfgCtrl.onSoftVolumeClick()">
            Soft
        </button>

        <button  ng-click="cfgCtrl.onModerateVolumeClick()">
            Mod
        </button>

        <button  ng-click="cfgCtrl.onLoudVolumeClick()">
            Loud
        </button>
    </div>

</div>